<div class="loginBody">
<div class="container">
  <form class="form-signin" (ngSubmit)="login()" role="form">
    <h2 class="form-signin-heading">Please sign in here</h2>
    <label for="inputEmail" class="sr-only">User Name</label>
    <input type="text" id="inputEmail" name="inputEmail" class="form-control" placeholder="User Name" [(ngModel)]="model.username" required autofocus/>
    <label for="inputPassword" class="sr-only">Password</label>
    <input class="form-control" id="inputPassword" name="inputPassword" placeholder="Password" name="password" type="password" [(ngModel)]="model.password" required />
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
</div>
</div>

